# <center> Homework 2

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Измените префикс в зависимости того, где находятся данные
prefix = '../data/'

tr_mcc_codes=pd.read_csv(filepath_or_buffer = prefix + "tr_mcc_codes.csv", sep = ';')
tr_types=pd.read_csv(filepath_or_buffer = prefix + "tr_types.csv", sep = ';')
transactions=pd.read_csv(filepath_or_buffer = prefix + "transactions.csv", sep = ',', nrows=1000000)
gender_train=pd.read_csv(filepath_or_buffer = prefix + "gender_train.csv", sep = ',')

Ещё раз (как и в задании 1) считайте в переменные tr_mcc_codes, tr_types, transactions и customers_gender_train. В transactions считайте только первые 1000000 строк.

In [3]:
### Type your code here
merged=pd.merge(pd.merge(pd.merge(transactions,tr_mcc_codes),tr_types),gender_train,how='left')
merged

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,mcc_description,tr_description,gender
0,39026145,0 10:23:26,4814,1030,-2245.92,NaN,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ,1.0
1,39026145,1 10:19:29,6011,7010,56147.89,NaN,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в своем тер.банке),1.0
2,39026145,1 10:20:56,4829,2330,-56147.89,NaN,Денежные переводы,Списание с карты по операции “перевода с карты...,1.0
3,39026145,1 10:39:54,5499,1010,-1392.47,NaN,"Различные продовольственные магазины — рынки, ...",Покупка. POS ТУ СБ РФ,1.0
4,39026145,2 15:33:42,5499,1010,-920.83,NaN,"Различные продовольственные магазины — рынки, ...",Покупка. POS ТУ СБ РФ,1.0
...,...,...,...,...,...,...,...,...,...
999579,98801178,269 10:29:06,5921,1010,-23016.59,127873,Магазины с продажей спиртных напитков на вынос...,Покупка. POS ТУ СБ РФ,0.0
999580,98801178,270 10:26:45,5211,1010,-61380.88,10114209,Лесо- и строительный материал,Покупка. POS ТУ СБ РФ,0.0
999581,98801178,270 15:18:53,5921,1010,-11800.27,10105341,Магазины с продажей спиртных напитков на вынос...,Покупка. POS ТУ СБ РФ,0.0
999582,98801178,271 12:47:13,5211,1010,-16170.59,10114209,Лесо- и строительный материал,Покупка. POS ТУ СБ РФ,0.0
999583,98801178,271 14:51:56,5921,1010,-10025.77,123991,Магазины с продажей спиртных напитков на вынос...,Покупка. POS ТУ СБ РФ,0.0

#### Task 0.
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться N строк. Число строк сообщите преподавателю

In [4]:
### Type your code here
# Кол-во строк в таблице можно найти через функцию len()
print(f'Номер строк: {len(merged)}')

Номер строк: 999584

#### Task 1.
1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3],  
то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

(\***) Округление не нужно производить отдельно по средним тратам женщин и мужчин, а только в самом конце, когда получите значение модуля разницы трат.

In [ ]:
### Type your code here

# Для нахождения разницы, нам нужно найти средние траты мужчин и женщин
# Пока, номер для мужчин = 1.0 (значит для женщин = 0.0)
men = 1.0
women = 0.0

# Сначала для мужчин, находим значения, где пол является мужским
men_merged = merged[merged["gender"] == men]
# Далее находим значения, где amount < 0 (фильтруем по тратам)
men_expenses = men_merged[men_merged["amount"] < 0]
# Наконец, находим среднее арифметическое трат мужчин
men_avg_expenses = men_expenses["amount"].mean()

# Делаем тоже самое для женщин
women_merged = merged[merged["gender"] == women]
women_expenses = women_merged[women_merged["amount"] < 0]
women_avg_expenses = women_expenses["amount"].mean()

# В конце, находим модуль (abs()) разницы средних трат двух полов
abs_diff = abs(men_avg_expenses - women_avg_expenses)
print(f"Модуль разницы между средними тратами женщин и мужчин равен {abs_diff:.2f}₽")

Модуль разницы между средними тратами женщин и мужчин равен 32718.05₽

#### Task 2:
1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (\*)
2. Оставьте только наблюдения с отрицательным значением amount. Посчитайте дисперсию по категориям получившегося столбца mcc_code+tr_type, в которых количество наблюдений >= 10. 
3. Определите отношение максимальной дисперсии к минимальной.

Выведите ответ в виде вещественного числа, округлённого до ближайшего целого в формате "123456" без дробной части.

##### Пояснения:
(\*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии. Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

(\**) Для одновременного подсчета количества наблюдений и дисперсии по категориям можно воспользоваться функцией .agg()

In [ ]:
### Type your code here

# В первой задаче нужно сконкатенировать два значения,
# т.е. в новый столбец надо вствить значения из mcc_code и tr_type, предварительно их соеденив

#### Task 3:
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 5 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:
    - 1) Покупка. POS ТУ СБ РФ	
    - 2) Списание после проведения претензионной работы	
    - 3) Плата за получение наличных. Россия	
    - 4) Перевод на карту/ с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте	
    - 5) Плата за получение наличных в АТМ. Россия	 
    - 6) Наличные. Зарубеж. банк	
    - 7) Возврат покупки. POS ТУ Россия

##### Пояснения:
(\*) Если максимальные суммы приходов по каким-то типам были равны [1,2,3,4,5,6,7,8], то 5 минимальных из них: [1,2,3,4,5]

In [6]:
### Type your code here

#### Task 4:
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можо использовать строковые методы для датафрейма - .str.split(), например. Либо же реализовывать логику выделения подстроки с помощью метода apply. <br>
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.

In [7]:
### Type your code here

#### Task 5:
1. Разбейте расходы (отрицательные значения сумм) на 5 бакетов amount_bucket равного объёма (с помощью pd.qcut), разбив все траты на категории 'Very High', 'High', 'Middle', 'Low', 'Very Low'. (\*)
2. Оставшиеся неотрицательные траты отнесите к категории 'Income'.
(воспользуйтесь функцией .cat.add_categories('Income') для того, чтобы добавить новую категорию 'Income' к категориям 'Very High', 'High', 'Middle', 'Low', 'Very Low', а затем заполните пустые значения новой категорией).
3. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
3. После этого постройте сводную таблицу, значениями в которой является пол gender, индексы - tr_hour, столбцы - amount_bucket.
4. Отрисуйте полученные результаты, передав их в функцию plot_pivot_table, расположенную ниже.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) Ночные поступления денег (01-05 часов) в более чем 85% случаев являются мужскими.
    - 2) Посмотрев на долю мужчин в поступлениях средств (Income), можно сделать вывод, что количество поступлений средств женщинам в целом больше, чем мужчинам.
    - 3) Самые низкие траты в 3 часа ночи осуществляются в более 70% случаев женщинами.
    - 4) Существуют особые часы в мелких тратах, когда женщины тратят намного больше мужчин (>80%)
    - 5) Посмотрев на долю мужчин в максимальных тратах средств (Very High), можно сделать вывод, что количество высоких трат в каждый возможный час мужчин больше, чем у женщин.

##### Пояснения:
(\*) Обратите внимание, что в категории Very High Должны оказаться максимальные по модулю отрицательные транзакции. <br>
(\**) Например, для строки "0 10:23:26" час будет равен 10, а для строки "6 07:08:31"- 07. Можно воспользоваться функциями str.split() или str.find() и 
функцией .apply(lambda x: x[])

In [11]:
def plot_pivot_table(pivot_table):
    plt.figure(figsize=(9, 11))
    sns.heatmap(pivot_table, cmap="YlGnBu", annot=True, 
                fmt='.3g', annot_kws={"size": 14, "fontsize": 14})
    plt.xticks(fontsize=15)
    plt.yticks(rotation=0, fontsize=15)
    plt.xlabel('Bucket', size=18)
    plt.ylabel('Hour', fontsize=18)
    plt.title('Gender analysis per bucket and hour', fontsize=20)
    plt.show()

In [8]:
# Type your code here

#### Task 6:
1. Измените тип поля tr_day на int.
2. Выберите из transactions все MCC коды, которые встретились в выборке более чем 60000 раз.
3. Сгруппируйте отфильтрованный датафрейм по дню и MCC-коду, получая средние значения суммы amount.  
4. Далее отрисуйте зависимость средних сумм (может пригодится метод unstack()) по каждому из MCC-кодов по дням.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) 2 из полученных MCC-кодов связаны с финансовыми институтами
    - 2) 2 MCC кода, связанные со снятием наличности имеют в целом разные знаки (в одном случае почти везде - траты, в другом - пополнения)
    - 3) Бакалейные магазины обладают максимальными средними тратами среди выбранных MCC-кодов
    - 4) Денежные переводы имеют как минимум 3 явных минимума средних
    - 5) Категория "Звонки с использованием телефонов, считывающих магнитную ленту" имеет визуально очень большую дисперсию.

In [9]:
# Type your code here